.product{
 
    border: 1 px solid #95A0A7;
    border-radius:8px ;
    position: relative;
}

.product img{
    width: 450px;
    margin: 7px;

}
.product-name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-style: normal ;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;

    color: #0E161A;
}

.product-info{
    margin-left: 14px;
}

.product h3 h6 h5{
    margin-top: 5px;
}

.author img{
    width: 45px;
    margin: 7px;
}